/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.sidebar
  background-color: #404040

.links
  background-color: #404040 !important

.search-box input
  background-color: #404040 !important

.navbar
  background-color: #404040

.page
  background-color: #404040

::-webkit-scrollbar 
  width:12px;
  background-color: #404040;

::-webkit-scrollbar-thumb
  background:#4a4a4a;
