/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px !important

.sidebar
  background-color: #404040

.links
  background-color: #404040 !important

code
  background-color: rgba(220,220,220,0.1) !important

.search-box input
  background-color: #404040 !important
  border-color: rgba(220,220,170,0.5) !important

.navbar
  background-color: #404040

.page
  background-color: #404040

.body, html
  background-color: #404040

.theme-container
   background-color: #404040

.action-button
  color: #404040 !important

.custom-block
  background-color: #404040 !important

tr:nth-child(2n) 
  background-color: #505050

::-webkit-scrollbar 
  width:12px;
  background-color: #404040;

::-webkit-scrollbar-thumb
  background:#686868;
