/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #dcdcaa
$textColor = #c8c8c8
$borderColor = #4a4a4a
$codeBgColor = #282c34
$blockquoteColor = #000000
